@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,600&family=Inter:wght@100;200;300&family=Karla:wght@700&family=Lora:ital,wght@1,500&family=Nanum+Gothic:wght@400;700&family=Playpen+Sans:wght@200;300;400;500;600;700&family=Prompt:ital,wght@1,300&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
}


html {
    width: 100%;
    scroll-behavior: smooth;
}


@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto/Roboto-Italic.ttf");
}


@font-face {
    font-weight: 400;
    /* Соответствует значению normal */
    font-family: Roboto;
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-weight: 700;
    /* Соответствует значению bold */
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-weight: 300;
    font-family: Roboto;
    src: url("../fonts/Roboto-Light.ttf");
}

body {
    background-color: rgb(185, 176, 184);
    color: dimgrey;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    min-height: 50px;
    background-color: rgb(127, 127, 135);
}

.nav-list {
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: rgb(244, 240, 240);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: 3s;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
}

.nav-item a {
    color: #e2ebe3;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-item a:hover {
    color: #4d2323;
}


.main-container {
    padding: 30px 70px;
}

.wrap_avatar {
    margin-right: 144px;
}

.avatar {
    margin-top: 10px;
    border-radius: 50%;
    width: 300px;
}

.name_avatar {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    border-radius: 30px;
    min-width: 550px;
    background-color: rgb(203 197 206 / 30%);
}

.section_avatar {
    display: flex;
    flex-wrap: wrap;
}

.wrapper_blocks {
    display: flex;
    gap: 73px;
    justify-content: space-between;
}


.contacts a {
    color: #000;
}

.contacts a:hover {
    color: #fff;
}


.left_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    background-color: rgb(203 197 206 / 80%);
}


.text_summary {
    display: flex;
    text-align: justify;
    max-width: 733px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #1c1111;
    line-height: 50px;
    letter-spacing: 1px;
    font-style: italic;
}


.right_block {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: rgb(203 197 206 / 80%);
}


.section-title {
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
}

.title_name {
    
    font-family: 'Roboto';
    font-size: 60px;
    color: #595454;
}

.profession {
    margin: 0 136px 0 5px;
    font-family: 'Roboto';
    font-size: 30px;
    color: #575454;
}


.title {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    color: #1b306c;
}

li {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    color: #1c1111;
    letter-spacing: 1px;
    line-height: 50px;
    font-style: italic;
}

.section-title_code {
    margin-top: 80px;
}

.code_example {
    display: flex;
    padding: 0 45px 0 0;
    background-color: #dad0d0;
    color: #000;
    font-family: 'Roboto';
    font-size: 15px;
}

.text_education {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    color: #1c1111;
    letter-spacing: 1px;
    font-style: italic;
}

.contacts {
    list-style: none;
    border-radius: 100%;
}

.contacts li {
    margin-top: 10px;
}

.contacts img {
    margin-right: 10px;
}

.section-title_skills {
    margin-bottom: 117px;
}

.section-title_language {
    margin-bottom: 228px;
}

.date {
    right: 59px;
}

.number {
    text-align: center;
    line-height: 40px;
    color: #fff;
    letter-spacing: 2px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    background-color: rgb(46, 46, 47);
    padding: 0 70px;
}

.footer a {
    color: #fff;
    font-family: 'Roboto';
    line-height: 50px;
    letter-spacing: 2px;
}

.avatar_logo {
    width: 40px;
}

@media (max-width: 768px) {
    .section-title {
        width: 100%;
    }
}